DJANGO_SETTINGS_MODULE=djapp.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://djapp:password@db:5432/djapp
# DATABASE_URL=sqlite:///backend/db.sqlite3
